<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.project.model.vo.UserVO" alias="user_vo"/>
		<typeAlias type="kr.co.project.model.vo.UserDTO" alias="user_dto"/>
		
		<typeAlias type="kr.co.project.bbs.model.vo.BbsVO" alias="bbs_vo"/>
	</typeAliases>
</configuration>